---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}

<h2 alt="{{ page.label }}" class='item-label'>{{ page.label }}</h2>
<h3 class="item-byline">Interviewed by {{page.interviewer}} on {{page.interview_date}}.</h3>

<hr>

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer %}
  <div class='item-view'>
    <span class='pagination-link' id='prevlink'></span>
    {% if viewer == 'openseadragon' %}
      {% include osd_iiif_image_viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
    {% else %}
       {% include simple_image_viewer.html full_image=page.full prevlink=prevlink nextlink=nextlink %}
    {% endif %}
    <span class='pagination-link' id='nextlink'></span>
  </div>
  {% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}
{% endif %}

  <div class='item-view'>
    <span class='pagination-link' id='prevlink'></span>
      {% if page.audio == "yes" %}
      <audio controls>
        <source src="{{site.baseurl}}/audio/{{page.pid}}.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      {% elsif page.audio == "no" %}
      <p>[This interview has no audio]</p>
      {% endif %}

    <span class='pagination-link' id='nextlink'></span>
  </div>
  {% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}

  <br>

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include item_metadata.html meta=metadata %}
{% endif %}
